body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.additional-info {
    font-size: 80%;
    color: darkgray;
}

ul.task-list {
    margin-left: 0;
    padding-left: 0;
}

.task-list li {
    position: relative;
    padding: 10px 5px;
    border-bottom: 1px dashed #eaeaea;
    list-style: none;
}

    .task-list li .task-title {
        overflow: hidden;
        margin-right: 10px;
    }


    .task-list li:hover {
        background: #f9f9f9;
    }


#filter-block {
    margin-top: 0;
    background-color: #fafafa;
    padding: 16px;
    margin-bottom: 0;
    border: 1px solid #eaeaea;
    color: #2e2e2e;
}

#top-info {
    display: inline-block;
} 
